In [1]:
import pandas as pd
import numpy as np

In [5]:
df_income = pd.read_csv('MedianHouseholdIncome2015_clean.csv', engine='python', index_col=0)
df_poverty = pd.read_csv('PercentagePeopleBelowPovertyLevel_clean.csv', engine='python', index_col=0)
df_educ = pd.read_csv('PercentOver25CompletedHighSchool_clean.csv', engine='python', index_col=0)
df_kill = pd.read_csv('PoliceKillingsUS_clean.csv', engine='python', index_col=0)
df_race = pd.read_csv('ShareRaceByCity_clean.csv', engine='python', index_col=0)

In [8]:
df_poverty.dtypes

Geographic Area     object
City                object
poverty_rate       float64
dtype: object

In [10]:
df_poverty.head()

  Geographic Area             City  poverty_rate
0              AL       Abanda CDP          78.8
1              AL   Abbeville city          29.1
2              AL  Adamsville city          25.5
3              AL     Addison town          30.7
4              AL       Akron town          42.0

In [17]:
df_merge1 = pd.merge(df_income, df_poverty, on = [ "Geographic Area" ,"City", ])

In [19]:
df_merge1.tail()

      Geographic Area                    City  Median Income  poverty_rate
29315              WY  Woods Landing-Jelm CDP   60874.993464          18.6
29316              WY            Worland city   41523.000000          15.3
29317              WY             Wright town   77114.000000           5.9
29318              WY              Yoder town   37500.000000           5.4
29319              WY           Y-O Ranch CDP   60874.993464           0.0

In [20]:
df_income.tail()

      Geographic Area                    City  Median Income
29317              WY  Woods Landing-Jelm CDP   60874.993464
29318              WY            Worland city   41523.000000
29319              WY             Wright town   77114.000000
29320              WY              Yoder town   37500.000000
29321              WY           Y-O Ranch CDP   60874.993464

In [21]:
df_poverty.tail()

      Geographic Area                    City  poverty_rate
29324              WY  Woods Landing-Jelm CDP          18.6
29325              WY            Worland city          15.3
29326              WY             Wright town           5.9
29327              WY              Yoder town           5.4
29328              WY           Y-O Ranch CDP           0.0

In [22]:
df_race.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0.0,0.0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1.0,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0.0,0.1,0.4
4,AL,Akron town,13.2,86.5,0.0,0.0,0.3

In [26]:
df_merge2 = pd.merge(df_merge1, df_race, left_on = [ "Geographic Area" ,"City", ], right_on = [ "Geographic area" ,"City", ])\
.drop('Geographic area', axis=1)

In [27]:
df_merge2.head()

,Geographic Area,City,Median Income,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,11207.0,78.8,67.2,30.2,0.0,0.0,1.6
1,AL,Abbeville city,25615.0,29.1,54.4,41.4,0.1,1.0,3.1
2,AL,Adamsville city,42575.0,25.5,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,37083.0,30.7,99.1,0.1,0.0,0.1,0.4
4,AL,Akron town,21667.0,42.0,13.2,86.5,0.0,0.0,0.3

In [28]:
df_merge2.isna().sum()

Geographic Area            0
City                       0
Median Income              0
poverty_rate             195
share_white               19
share_black               19
share_native_american     19
share_asian               19
share_hispanic            19
dtype: int64

In [29]:
df_poverty.shape

(29329, 3)

In [30]:
df_race.shape

(29268, 7)

In [31]:
df_income.shape

(29322, 3)

In [32]:
df_merge1.shape

(29320, 4)

In [38]:
df_merge3 = pd.merge(df_merge2, df_educ, on = [ "Geographic Area" ,"City", ])

In [40]:
df_merge2.shape

(29115, 9)

In [41]:
df_merge3.isna().sum()

Geographic Area            0
City                       0
Median Income              0
poverty_rate             195
share_white               19
share_black               19
share_native_american     19
share_asian               19
share_hispanic            19
percent_completed_hs     191
dtype: int64

In [37]:
df_educ.head()

  Geographic Area             City  percent_completed_hs
0              AL       Abanda CDP                  21.2
1              AL   Abbeville city                  69.1
2              AL  Adamsville city                  78.9
3              AL     Addison town                  81.4
4              AL       Akron town                  68.6

In [42]:
df_merge3.columns

Index(['Geographic Area', 'City', 'Median Income', 'poverty_rate',
       'share_white', 'share_black', 'share_native_american', 'share_asian',
       'share_hispanic', 'percent_completed_hs'],
      dtype='object')

In [45]:
for c in df_merge3.columns[2:]:
    df_merge3[c] = df_merge3.groupby("Geographic Area").transform(lambda x: x.fillna(x.mean()))[c]

In [46]:
df_merge3.isna().sum()

Geographic Area          0
City                     0
Median Income            0
poverty_rate             0
share_white              0
share_black              0
share_native_american    0
share_asian              0
share_hispanic           0
percent_completed_hs     0
dtype: int64

In [47]:
df_merge3.to_csv("Combined_data.csv")